<html>

   <head>
      <title>BodyParser MicroService</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
       <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
     <link href="/public/style.css" rel="stylesheet" type="text/css"> 
  </head>

   <body>
      <div class="container">
        <h1>API BodyParser: Header Microservice</h1>
        <div class="well">
          User Stories:
          <ol>
            <li>
               I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
            </li>
            <li>
              If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
            </li>
            <li>
              When I visit that shortened URL, it will redirect me to my original link.
            </li>
           
          </ol>
        </div>
        
        
        <!--
        <div class="example-text">
          <h3>
            Link to service:
          </h3>
            <a href="https://wg-parser-microservice.glitch.me/whoami" target="_blank"><code>
              https://wg-parser-microservice.glitch.me/whoami
            </code></a>
            
        </div>
        
        <div class="example-text">
          <h3>
            Example output:
          </h3>
            <code>
              { "IP Adress": "255.255.255.255", "Language": "en-US", "Software": Windows NT 10.0;  Win64; x64  }
            </code>
        </div>
        -->
        
        
        
      </div>
      
   </body>

</html>
