/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: white;
	text-align: left;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}
li{
  margin-bottom:2%;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}

.well{
  background-color:inherit;
  border:none;
  border-left: solid 6px #e3e3e3;
  
}

.example-text p{
  color:#c7254e;;
  background-color:
}